@use '@styles/mixins' as mixins;
@use '@styles/functions' as functions;

.video_play {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.video_preview_divider {
    width: 100%;
    height: 1px;
    background: var(--border-color);
}

.video_play_title {
    position: relative;
    color: var(--text-title);
}

.video_play_title_text {
    text-wrap: nowrap;
    font-weight: var(--font-semibold);
    letter-spacing: 0;
    text-transform: uppercase;
    @include mixins.font-size(14);
    line-height: var(--linear-h-160);
    @include mixins.transition((font-size, line-height), 0.3s, ease-in-out);

    @include mixins.first-breakpoint() {
        @include mixins.font-size(10);
    }

    @include mixins.second-breakpoint() {
        @include mixins.font-size(10);
    }

    @include mixins.third-breakpoint() {
        @include mixins.font-size(10);
    }

    @include mixins.fifth-breakpoint() {
        @include mixins.font-size(18);
    }
}

.video_play_title_duration {
    position: absolute;
    left: 0;
    bottom: -1.25rem;
    font-weight: var(--font-regular);
    letter-spacing: 0;
    @include mixins.font-size(14);
    line-height: var(--linear-h-160);
    opacity: 0.5;
    @include mixins.transition((font-size, line-height), 0.3s, ease-in-out);

    @include mixins.first-breakpoint() {
        @include mixins.font-size(13);
    }

    @include mixins.second-breakpoint() {
        @include mixins.font-size(13);
    }

    @include mixins.third-breakpoint() {
        @include mixins.font-size(13);
    }

    @include mixins.fifth-breakpoint() {
        @include mixins.font-size(18);
    }
}

.video_preview_image {
    position: relative;
    flex-shrink: 0;
    @include mixins.square(functions.rem(186));
    @include mixins.adaptive-transition();

    @include mixins.first-breakpoint() {
        @include mixins.square(functions.rem(131));
    }

    @include mixins.second-breakpoint() {
        @include mixins.square(functions.rem(133));
    }

    @include mixins.third-breakpoint() {
        @include mixins.square(functions.rem(133));
    }

    @include mixins.fifth-breakpoint() {
        @include mixins.square(functions.rem(241));
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include mixins.border-radius(100%);
        backdrop-filter: opacity(20%);
        @include mixins.adaptive-transition();
    }
}

.video_preview_image_overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mixins.border-radius(100%);
    background: var(--player-overlay);
}

.video_play_button_wrap {
    position: relative;
    flex-shrink: 0;
    @include mixins.square(functions.rem(100));
    @include mixins.adaptive-transition();

    @include mixins.first-breakpoint() {
        @include mixins.square(functions.rem(71));
    }

    @include mixins.second-breakpoint() {
        @include mixins.square(functions.rem(72));
    }

    @include mixins.third-breakpoint() {
        @include mixins.square(functions.rem(72));
    }

    @include mixins.fifth-breakpoint() {
        @include mixins.square(functions.rem(130));
    }
}

.video_play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: functions.rem(77);
    height: functions.rem(77);
    padding: 0;
    border: 1px solid var(--text-white);
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    @include mixins.border-radius(50%);
    @include mixins.transform(translate(-50%, -50%));
    @include mixins.adaptive-transition();

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background: hsla(0, 0%, 100%, 0.3);
        pointer-events: none;
        @include mixins.border-radius(50%);
        @include mixins.transform(translate(-50%, -50%));
    }

    @include mixins.first-breakpoint() {
        width: functions.rem(54);
        height: functions.rem(54);
    }

    @include mixins.second-breakpoint() {
        width: functions.rem(55);
        height: functions.rem(55);
    }

    @include mixins.third-breakpoint() {
        width: functions.rem(55);
        height: functions.rem(55);
    }

    @include mixins.fifth-breakpoint() {
        width: functions.rem(100);
        height: functions.rem(100);
    }

    @include mixins.hover() {
        width: functions.rem(100);
        height: functions.rem(100);

        &::before {
            animation: video-play-pulse 3s ease infinite;
            -webkit-animation: video-play-pulse 3s ease infinite;
        }
    }

    @include mixins.first-breakpoint() {
        @include mixins.hover() {
            width: functions.rem(71);
            height: functions.rem(71);
        }
    }

    @include mixins.second-breakpoint() {
        @include mixins.hover() {
            width: functions.rem(72);
            height: functions.rem(72);
        }
    }

    @include mixins.third-breakpoint() {
        @include mixins.hover() {
            width: functions.rem(72);
            height: functions.rem(72);
        }
    }

    @include mixins.fifth-breakpoint() {
        @include mixins.hover() {
            width: functions.rem(130);
            height: functions.rem(130);
        }
    }
}

.video_play_button_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    @include mixins.transform(translate(-50%, -50%));

    svg {
        width: functions.rem(48);
        height: functions.rem(22);
        @include mixins.adaptive-transition();

        @include mixins.first-breakpoint() {
            width: functions.rem(34);
            height: functions.rem(16);
        }

        @include mixins.second-breakpoint() {
            width: functions.rem(34);
            height: functions.rem(16);
        }

        @include mixins.third-breakpoint() {
            width: functions.rem(34);
            height: functions.rem(16);
        }

        @include mixins.fifth-breakpoint() {
            width: functions.rem(62);
            height: functions.rem(28);
        }
    }
}

@keyframes video-play-pulse {
    0% {
        width: 20%;
        height: 20%;
    }

    75% {
        width: 60%;
        height: 60%;
    }

    100% {
        width: 20%;
        height: 20%;
    }
}

.video_player {
    position: fixed;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;

    &:fullscreen,
    &:-webkit-full-screen {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        opacity: 1;
        pointer-events: auto;
        object-fit: contain;
        background-color: #000;
    }
}