@use '@styles/functions' as functions;

.hover-rise-text {
    @include hover-rise-text;
}

.hover-rise-group {
    @include hover() {
        @include hover-rise-text-items-active;
    }
}

.global-px {
    padding-left: var(--global-px);
    padding-right: var(--global-px);
}

.global-py {
    padding-top: var(--global-py);
    padding-bottom: var(--global-py);
}

.global-pb {
    padding-bottom: var(--global-pb);
}

.global-pt {
    padding-top: var(--global-pt);
}