@use './variables' as variables;
@use "sass:map";

@mixin border-radius($radius: 50%) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin font-size($size) {
    font-size: $size * 1px;
    font-size: rem($size);
}

@mixin hover() {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    &:active {
        @content;
    }

    &:focus-visible {
        outline: 2px solid var(--additional-indigo);
        @content;
    }
}

@mixin first-breakpoint() {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin second-breakpoint() {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin third-breakpoint() {
    @media (max-width: 1280px) {
        @content;
    }
}

/* C этого верстаем */
/* @mixin fourth-breakpoint() {
    @media (max-width: 1769px) {
        @content;
    }
} */

@mixin fourth-breakpoint() {
    @media (min-width: 1770px) {
        @content;
    }
}