@use '@styles/mixins' as mixins;
@use '@styles/functions' as functions;

.input_box {
    position: relative;
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    @include mixins.transition(border-color);
}

.input_field,
.input_label {
    font-weight: var(--font-normal);
    line-height: 160%;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: functions.rem(16);
    @include mixins.transition((font-size), 0.3s, ease-in-out);

    @include mixins.first-breakpoint() {
        font-size: functions.rem(11);
    }

    @include mixins.second-breakpoint() {
        font-size: functions.rem(14);
    }

    @include mixins.third-breakpoint() {
        font-size: functions.rem(14);
    }

    @include mixins.fifth-breakpoint() {
        font-size: functions.rem(17);
    }
}

.input_field {
    width: 100%;
    outline: none;
    background-color: transparent;
    color: var(--text-black);

    &::placeholder {
        color: transparent;
        user-select: none;
    }

    &:focus+.input_label,
    &:not(:placeholder-shown)+.input_label {
        @include mixins.transform(translateY(calc(-50% - functions.rem(18))) scale(0.8));
    }
}

.input_label {
    position: absolute;
    padding-bottom: functions.rem(4);
    left: 0;
    top: 40%;
    transform-origin: left center;
    color: var(--text-black);
    background-color: transparent;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    @include mixins.transform(translateY(-50%));
    @include mixins.transition((transform, color, background-color));
}