@use '@styles/mixins' as mixins;
@use '@styles/functions' as functions;

.header {
    position: relative;
    top: 0;
    z-index: var(--z-header);
    display: flex;
    align-items: center;
    width: 100%;
    @include mixins.px-var(var(--global-px));

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 100vw;
        height: 100%;
        transform: translateX(-50%);
        background: var(--bg-default);
        z-index: -1;
    }
}

.header_content {
    composes: global-py from global;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    // @include mixins.first-breakpoint() {
    //     @include mixins.px-var(var(--global-px));
    // }

    @include mixins.fifth-breakpoint() {
        padding-left: functions.rem(20);
    }
}

.header_form_trigger {
    font-size: functions.rem(15);
    composes: hover-rise-group from global;
}

.header_menu {
    order: 1;
}

.header_apartment_select {
    order: 2;
    @include mixins.adaptive-transition();

    @include mixins.first-breakpoint() {
        display: none;
    }

    @include mixins.second-breakpoint() {
        order: 4;
    }

    @include mixins.third-breakpoint() {
        order: 2;
    }
}

.header_logo {
    display: flex;
    justify-content: center;
    order: 3;
    flex: 1;
    @include mixins.adaptive-transition();

    @include mixins.second-breakpoint() {
        order: 3;
        flex: 1;
    }

    @include mixins.third-breakpoint() {
        order: 3;
        flex: 1;
    }

    svg {
        width: functions.rem(156);
        height: functions.rem(25);
        flex-shrink: 0;
        @include mixins.adaptive-transition();

        @include mixins.first-breakpoint() {
            width: functions.rem(131);
            height: functions.rem(21);
        }

        @include mixins.fifth-breakpoint() {
            width: functions.rem(187);
            height: functions.rem(30);
        }
    }
}

.header_contacts {
    order: 4;
    color: var(--text-primary);
    font-size: functions.rem(17);
    font-weight: var(--font-semibold);
    @include mixins.transition((color));

    @include mixins.hover() {
        color: var(--color-accent);
        text-decoration: underline;
    }

    @include mixins.first-breakpoint() {
        display: none;
    }

    @include mixins.second-breakpoint() {
        display: none;
    }
}

.header_order_call {
    order: 5;
    flex-shrink: 0;

    @include mixins.hover() {
        color: var(--color-accent);
    }

    @include mixins.second-breakpoint() {
        order: 2;
    }

    @include mixins.third-breakpoint() {
        order: 5;
    }
}