@use '@styles/mixins' as mixins;
@use '@styles/functions' as functions;

.header {
    position: fixed;
    z-index: var(--z-header);
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--bg-default);
}

.header_content {
    composes: global-px global-py from global;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;

    @include mixins.fifth-breakpoint() {
        padding-left: functions.rem(100);
    }
}

.header_form_trigger {
    font-size: functions.rem(15);
    composes: hover-rise-group from global;
}

.header_menu {}

.header_logo {
    display: flex;
    justify-content: center;
    flex: 1;
}

.header_contacts {
    color: var(--text-primary);
    font-size: functions.rem(17);
    font-weight: var(--font-semibold);
}